html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}
:root {
  --main-beige: #e4d0c1;
  --main-coral: #e75b4c;
  --main-strong-blue: #122d50;
  --main-medium-blue: #0f4f9c;
  --main-soft-blue: #1da7d6;
  --main-clean-blue: #00aeef;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 140px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  margin: 0;
  height: 90%;
}
nav ul li {
  list-style: none;
}
nav ul li .menu-button {
  width: 30px;
  height: 40px;
}
nav ul li .menu-name {
  width: 100px;
}

#home {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/img/background_1.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
}
#home img#logo {
  width: 300px;
  height: 300px;
  margin-bottom: 40px;
}
#home .texts {
  font-size: 56px;
  display: flex;
  flex-direction: column;
  width: 600px;
  line-height: 56px;
  text-align: center;
}
#home .down-button {
  width: 24px;
  position: absolute;
  bottom: 0;
  margin-bottom: 40px;
}

#about {
  background-color: #ffffff;
  padding: 160px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-medium-blue);
}
#about .container {
  width: 43%;
}
#about .container .title {
  font-size: 50px;
  line-height: 54px;
}
#about .container .title .highlight-text {
  color: var(--main-coral);
}
#about .container .body {
  font-size: 18px;
}
#about .container .body .about-image {
  width: 100%;
  margin: 50px 0;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.content .body {
  font-size: 90px;
  letter-spacing: 10px;
  z-index: 3;
  display: flex;
  flex-direction: column;
}
.content .body .body-action {
  font-size: 16px;
  letter-spacing: normal;
}
.section-image {
  width: 60%;
  height: auto;
  position: absolute;
  z-index: 2;
}

#to-know {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-coral);
  color: white;
}
#to-know .content .section-image {
  left: 0;
}
#to-know .content .body .body-action {
  text-align: right;
}

#to-be {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-strong-blue);
  color: white;
}
#to-be .content .section-image {
  right: 0;
}

#to-do {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-soft-blue);
  color: white;
}
#to-do .content .section-image {
  left: 0;
}
#to-do .content .body .body-action {
  text-align: right;
}

#coexist {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-beige);
  color: white;
}
#coexist .content .section-image {
  right: 0;
}

#call-to-action {
  background-color: #ffffff;
  padding: 120px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-medium-blue);
}
#call-to-action .container {
  width: 43%;
}
#call-to-action .container .title {
  font-size: 50px;
  line-height: 54px;
}
#call-to-action .container .title .highlight-text {
  color: var(--main-coral);
}
#call-to-action .container .body {
  font-size: 18px;
}
#call-to-action .container .action {
  width: 100%;
  background-color: var(--main-soft-blue);
  color: #ffffff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 40px;
  font-size: 44px;
  border-radius: 50px;
}

#footer {
  width: 100vw;
  padding: 80px 100px;
  background-color: var(--main-strong-blue);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#footer .left {
  display: flex;
  flex-direction: column;
}
#footer .left img {
  width: 200px;
}
#footer .right {
  text-align: right;
}
#footer .right .footer-options span {
  padding-left: 10px;
}
#footer .right .social-medias img {
  width: 20px;
  margin-left: 10px;
}

.bold {
  font-weight: 700;
}
.normal {
  font-weight: 300;
}